<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('head-links') -%>

    <title>Appointments</title>
  </head>
  <body>
    <!-- Start of Sighting Page-->
    <div class="container mt-5">
      <h1>All Appointments</h1>
      <!-- Start of Sort By FORM -->
      <form method="GET" action="/allappointments/?action=doctorId">
        <div class="row">
          <div class="col">
            <h5>Choose Doctor:</h5>
            <select name="doctorId">
              <option>All</option>
              <% doctors.forEach((doc) => { %>
              <option value="<%= doc.id %>"><%= doc.name %></option>
              <% }) %>
            </select>

            <!-- Start of Submit Button -->
            <button
              type="submit"
              id="submit-btn"
              class="btn btn-info btn-md btn-block my-3"
              data-toggle="button"
            >
              Submit
            </button>
            <!-- End of Submit Button -->
          </div>
        </div>
      </form>
      <!-- End of Sort By FORM -->

      <!-- Start of Appointment List-->
      <div class="container">
        <div class="row">
          <h3 class="pb-1">Appointments List</h3>
        </div>
        <div class="table-responsive-md">
          <table class="table">
            <tr>
              <th>#</th>
              <th>Appointment Details</th>
              <th>Session Duration</th>
              <th>Doctor</th>
              <th>Patient</th>
              <th></th>
            </tr>

            <!-- Display each appointment -->
            <% appointments.forEach((appointment, index) => { %>
            <tr>
              <td class="align-middle"><%= appointment.id %></td>
              <td class="align-middle"><%= appointment.startDatetime %></td>
              <td class="align-middle">60 min</td>
              <td class="align-middle"><%= appointment.doctorId %></td>
              <td class="align-middle"><%= appointment.patientId %></td>
              <td class="align-middle">
                <!-- Delete button (for each appointment) -->
                <form method="POST" action="/<%=index%>?_method=DELETE">
                  <button type="submit" class="btn btn-outline-danger">
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
      <!-- End of Appointments List-->
    </div>
    <!-- End of Appointments Page-->

    <!-- Bootstrap JS -->
    <%-include('bootstrap-scripts')-%>
  </body>
</html>
