<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('head-links') -%>
    <title>Fix Appointment</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h1 class="mb-5">Fix Appointment</h1>
          <h5>Select Doctor:</h5>
          <select name="subject" id="subject">
            <% doctors.forEach((doc) => { %>
            <option value="<%=doc.id%>"><%= doc.name %></option>
            <% }) %>
          </select>
          <h5 class="mt-4">Select Patient:</h5>
          <select name="topic" id="topic">
            <% patients.forEach((patient) => { %>
            <option value="<%=patient.id%>"><%= patient.name %></option>
            <% }) %>
          </select>
          <br />
          <label class="mt-4" for="meeting-time"
            ><h5>Choose a time for the appointment:</h5></label
          >
          <br />
          <input
            type="datetime-local"
            id="app-time"
            name="app-time"
            value="2018-06-12T08:00"
          />
          <button
            type="submit"
            id="submit-btn"
            class="btn btn-info btn-md btn-block my-4"
            data-toggle="button"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <%-include('bootstrap-scripts')-%>
  </body>
</html>
