<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('head-links') -%>

    <title>Update Appointment</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h1 class="mb-4">Update Appointment Details</h1>
          <h5>Doctor:</h5>
          <select name="doctor" id="doctor">
            <option value="<%= selectedDoctor.id %>" selected>
              <%= selectedDoctor.name %>
            </option>
            <% doctors.forEach((doc) => { %>
            <option value="<%=doc.id%>"><%= doc.name %></option>
            <% }) %>
          </select>
          <h5 class="mt-4">Patient:</h5>
          <select name="patient" id="patient">
            <option value="<%= selectedPatient.id %>" selected>
              <%= selectedPatient.name %>
            </option>
            <% patients.forEach((patient) => { %>
            <option value="<%=patient.id%>"><%= patient.name %></option>
            <% }) %>
          </select>

          <button
            type="submit"
            id="submit-btn"
            class="btn btn-info btn-md btn-block my-4"
            data-toggle="button"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <%-include('bootstrap-scripts')-%>
  </body>
</html>
